<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OrganizationBankingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="BankSystemDatabase" connectionString="Server=(localdb)\mssqllocaldb;Database=BankSystem;Trusted_Connection=True;"/>
	</connectionStrings>
 <applicationSettings>
  <OrganizationBankingSystem.Properties.Settings>
   <setting name="serviceUri" serializeAs="String">
    <value>https://www.alphavantage.co/query?</value>
   </setting>
   <setting name="belarusBankServiceUri" serializeAs="String">
    <value>https://belarusbank.by/api/kursExchange</value>
   </setting>
  </OrganizationBankingSystem.Properties.Settings>
 </applicationSettings>
</configuration>
